.product-container{
    width: 85%;
    margin: auto;
    color: var(--grey);
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around; 
    padding: 0;
    margin: 0;
    list-style: none;
    row-gap: 60px;
   }

li{
    list-style: none;
}

.productCard{
    width: 300px;
    height: 500px;
    position: relative;
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra de la tarjeta */
}



.productImg_cont{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCard img{
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease; 
}

.productImg_cont:hover img{
    cursor: pointer;
    transform: scale(1.1);
    backdrop-filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
}

.productCard_infoWrapper{
    background-color:rgb(182, 192, 137,0.7);
    height: 67%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:end;
    z-index: 1;
    border-radius: 30px;

}

.productCard_infoCont{
    background-color:var(--blanco) ;
    height: 75%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h4{
    font-size: 24px;
}
hr{
    width: 50%;
    border: 2px solid var(--rojo);
    border-radius: 20px;
    margin: 20px;
}
p{
    font-size: 16px;
}
.price_category_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.price_addToCart_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:35%;
    margin-top: 10px;
}
.productPrice{
    font-size: 20px;
    font-weight: 600;
}
.price_cart{
    font-size: 25px;
}
.price_cart:hover{
    color: var(--rojo);
    transition: all 0.2s;
    cursor: pointer;
}
.productCategory{
    height: 45px;
    width: 45px;
    background-color: var(--verde);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryIcon{
    font-size: 30px;
    color: var(--beige);
}