/* En src/components/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(202, 209, 163, 0.719);
    height: 70px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.header-logo {
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--grey);
    text-decoration: none;
    transition: all 0.2s ease;
}
.header-logo img {
    height: 100%;
    margin: auto;
}
.header-logo:hover {
    transform: rotate(15deg);
    transition: all 0.2s ease;
    cursor: pointer;
}

.header-icons-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-cart-icon,
.header-profile-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: var(--grey);
}


.header-cart-icon-svg,
.header-profile-icon-svg {
    font-size: 1.5em;
    cursor: pointer;
    color: var(--grey);
}

.header-profile-icon-svg:hover{
    color: var(--rojo);
    transition: all 0.2s;
}
